extends layout

block content
  h1 #{title}: #{customer.name}
  p= customer.lifespan

  if reservations.length
  
    p #[strong Delete the following reservations before attempting to delete this customer.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Reservations
    
      dl
      each reservation in reservations
        dt 
          a(href=reservation.url) #{reservation.date_created}
        dd #{reservation.rest.name}

  else

    p Do you really want to delete this Customer?
    
    form(method='POST' action='')
      div.form-group
        input#custid.form-control(type='hidden', name='custid', required='true', value=customer._id )

      button.btn.btn-primary(type='submit') Delete