extends layout

block content
	h1 Customer: #{customer.name}
	p 
	strong Phone number: 
	| #{customer.phone_number} 
	br
	strong email: 
	| #{customer.email}

	div(style='margin-left:20px;margin-top:20px')
		h4 Reservations

		dl
		each reservation in reservations
			li
				a(href=reservation.url) #{reservation.rest.rest_name}
				
				p Party Size: #{reservation.people_num}, Time: #{reservation.formatDate}
		else
			p This customer has no reservations.

	hr
	p
		a(href=customer.url+'/delete') Delete customer
