extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group

      if prevOptions
        label(for='date') Date:
        input#date.form-control(type='date', name='date' required='true',value=prevOptions.date)

        label(for='time') Time:
        input#time.form-control(type='time', name='time' required='true',value=prevOptions.time)

        label(for='people_num') People Number:
        input#people_num.form-control(type='text', placeholder='4' name='people_num' required='true',value = prevOptions.people_num) 
      else
        label(for='date') Date:
        input#date.form-control(type='date', name='date' required='true')

        label(for='time') Time:
        input#time.form-control(type='time', name='time' required='true')

        label(for='people_num') People Number:
        input#people_num.form-control(type='text', placeholder='4' name='people_num' required='true') 

    if session.user.first_name
      div.form-group
        label(for='restaurant') Restaurant: 
        input(type='text' list='restaurant' name='restaurant' placeholder='Select restaurant')
        br
        strong NOTE: 
        | Do not select a restaurant if you desire all available restaurants in a specified time/capacity
        datalist(id='restaurant')
          if restaurants
            for restaurant in restaurants
              option(value=restaurant.rest_name) #{restaurant.rest_name}
              
    if session.user.rest_name
      div.form-group
        label(for='creator') Customer:
        input(type='text' list='creator' name='creator' placeholder='Select email')
        datalist(id='creator')
          if customers
            for customer in customers
              option(value=customer.email) #{customer.first_name+', '+customer.last_name}

    if filtered_res
      div.form-group
        strong Available Restaurants:
          ul
            for rest in filtered_res
              li 
                a(href=rest.url) #{rest.name}

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for err in errors
        li #{err.msg}



