extends layout

block content
	h1 Reservation: #{reservation.creator.name}
	p Restaurant: #{reservation.rest.rest_name} -- Time: #{reservation.formatDate} -- People Number: #{reservation.people_num}

	hr
	p
		a(href=reservation.url+'/delete') Delete reservation