extends layout

block content
	h1=title

	ul
	each res in res_list
		li
			a(href=res.url)
			Restaurant name: #{res.rest.rest_name} --> Time: #{res.formatDate} --> Capacity: #{res.people_num}
	else
		li There are no reservations logged.
