extends layout

block content
	h1=title

	ul
	each res in res_list
		li
			a(href=res.url) #{res.creator.name} 
			p Restaurant name: #{res.rest.rest_name} --> Time: #{res.formatDate}
	else
		li There are no reservations logged.
