extends layout

block content
	h1 Restaurant: #{Restaurant.rest_name}
	p #{Restaurant.phone_number}

	div(style='margin-left:20px;margin-top:20px')
		h4 Reservations

		dl
		each reservation in reservations
			li
				a(href=reservation.url) #{reservation.creator.first_name} #{reservation.creator.last_name}
				p
				| Party Size: #{reservation.people_num},
				| Time: #{reservation.formatDate}
		else
			p This Restaurant has no reservations.

	hr
	p
		a(href=Restaurant.url+'/delete') Delete restaurant
